{% extends 'layout.html.twig' %}
{% set active = 'login' %}
{% block page_title %}Log in!{% endblock %}

{% block content %}
        <div class="col-md-4 offset-md-3">
            <h1 class="text-center">
                Log in
            </h1>

            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% for message in app.flashes('notice') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {{ form(form) }}

        </div>

{% endblock %}