html,
body{
    height: 100%;
}

#wrap{
    min-height: 100%;
    height: auto;
}

#sidebar-wrapper{
    min-height: 100%;

}

#nav {
    background-image: linear-gradient(to right, #fff9d8, #ffdceb);
}
h1, h2, h3{
    padding-top: 20px;
}

footer {
    height: 50px;
    margin-top: 30px;
    background-image: linear-gradient(to right, #fff9d8, #ffdceb);
}

ul>li{
    list-style: none;
}