{% extends "layout.html.twig" %}
{% set active = 'index' %}

{% block page_title %}
    Home
{% endblock %}
{% block content %}

    <h1>Welcome on SutekinaBox team app ! </h1>

    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <div>
            <h3>Please log in </h3>
            <a class="btn btn-primary" href="{{ path('security_login') }}">Sign in</a>
        </div>

    {% endif %}


    {% for box in boxes %}

    {% endfor %}
{% endblock %}
