{% extends 'layout.html.twig' %}
{% set active = 'product' %}
{% block page_title %}Product index{% endblock %}

{% block content %}
    <h1>Product index</h1>

    <table id="products" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Supplier</th>
                <th>Reference</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td><img class="img-thumbnail" style="width: 100px" src="{{ asset('images/product/'~product.image) }}"></td>
                <td>{{ product.supplier.name }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-success" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    <a class="btn btn-danger" href="{{ path('product_delete', {'id': product.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('product_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#products').DataTable();
        } );
    </script>
{% endblock %}
