{% extends 'layout.html.twig' %}
{% set active = 'product' %}
{% block page_title %}
    New Product
{% endblock %}

{% block content %}
    <h1>Create new Product</h1>

    {{ form(form) }}

    <a href="{{ path('product_index') }}">back to list</a>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css"
          integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous"/>
{% endblock %}


{% block final_javascripts %}
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/js/dropify.min.js"
         integrity="sha256-SUaao5Q7ifr2twwET0iyXVy0OVnuFJhGVi5E/dqEiLU=" crossorigin="anonymous"></script>
 <script>
     $('.dropify').dropify({
         messages: {
             default: 'Drag & drop your image here or click',
             replace: 'Drag & drop your image or click to replace',
             remove: 'Remove',
             error: 'Sorry, the image is too big'
         }
     });
 </script>
{% endblock %}
