{% extends "layout.html.twig" %}
{% set active = 'box' %}
{% block page_title %}Box index{% endblock %}
{% block content %}

<h1>Box index</h1>
    <table id="boxes" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Total price</th>
            <th>Budget</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for box in boxes %}
            <tr>
                <td>{{ box.id }}</td>
                <td>{{ box.name }}</td>
                <td {% if box.totalPrice > box.budget %}style="color:red; font-weight: bolder"{% endif %}>{{ box.totalPrice }}</td>
                <td>{{ box.budget }}</td>
                <td>{{ box.status }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('box_show', {'id': box.id}) }}">show</a>
                    {% if box.status is not same as('finished') %}
                        <a class="btn btn-success"href="{{ path('box_edit' , {'id': box.id})}}">edit</a>
                        <a class="btn btn-danger"href="{{ path('index') }}">delete</a>
                    {% endif %}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">There is no box 🤷</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('box_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#boxes').DataTable();
        } );
    </script>
{% endblock %}
