{% extends 'layout.html.twig' %}
{% set active = 'box' %}
{% block page_title %}
    {{ box.name }}
{% endblock %}

{% block content %}
    <h1>Box: {{ box.name }}</h1>
    {% for message in app.flashes('notice') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ box.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ box.name }}</td>
        </tr>
        <tr>
            <th>Total price</th>
            <td {% if box.totalPrice > box.budget %}style="color:red; font-weight: bolder"{% endif %}>{{ box.totalPrice }}</td>
        </tr>
        <tr>
            <th>Budget</th>
            <td>{{ box.budget }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ box.status }}</td>
        </tr>
        </tbody>
    </table>
    {% if box.status is not same as('finished') %}
        <a class="btn btn-primary" href="{{ path('box_edit', {'id': box.id}) }}">Edit name and budget</a>
    {% endif %}

    <h2>
        Actions
    </h2>
    {% if workflow_can(box, 'validate') %}
        <p>This box can be validated by marketing team.</p>
        <a class="btn btn-success" href="{{ path('box_validate', {'id': box.id}) }}">Validate this box</a>
    {% endif %}
    {% if workflow_can(box, 'ask_supplier') %}
        <p>Please check products' availability with suppliers.</p>
        <a class="btn btn-success" href="{{ path('box_ask_supplier', {'id': box.id}) }}">Send order to supplier</a>
    {% endif %}

    {% if workflow_can(box, 'accept_order') %}
        <p>Suppliers' response: </p>
        <a class="btn btn-success" href="{{ path('box_accept_order', {'id': box.id}) }}">Supplier accept this order</a>
    {% endif %}
    {% if workflow_can(box, 'reject_order') %}
        <a class="btn btn-danger" href="{{ path('box_reject_order', {'id': box.id}) }}">Supplier reject this order</a>
    {% endif %}

    {% if workflow_can(box, 'manager_validation') %}
        <p>This box is waiting for manager validation.</p>
        {% if is_granted('ROLE_MANAGER') %}
            <a class="btn btn-success" href="{{ path('box_manager_validate', {'id': box.id}) }}">All good</a>
        {% endif %}
    {% endif %}

    {% if box.status == 'finished' %}
        <p>This box is closed.</p>
    {% endif %}


    <h2>Products in box</h2>

    <table id="products" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>

            <th>Image</th>
            <th>Supplier</th>
            <th>Reference</th>
            <th>Price</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for product in box.products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>

                <td><img class="img-thumbnail" style="width: 50px" src="{{ asset('images/product/'~product.image) }}">
                </td>
                <td>{{ product.supplier.name }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.price }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('product_show', {'id': product.id}) }}">show</a>

                    {% if box.status == 'draft' %}
                        <a class="btn btn-danger" href="{{ path('box_remove_product', {
                            id: box.id,
                            id_product: product.id
                        }) }}">remove from box</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if box.status == 'draft' %}

        <h2>Add some products</h2>

        <table id="products_list" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>Supplier</th>
                <th>Reference</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in allProducts %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td><img class="img-thumbnail" style="width: 100px"
                             src="{{ asset('images/product/'~product.image) }}"></td>
                    <td>{{ product.supplier.name }}</td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a class="btn btn-primary"href="{{ path('product_show', {'id': product.id}) }}">show</a>
                        {% if product not in box.products %}
                            <a class="btn btn-success" href="{{ path('box_add_product', {
                                id: box.id,
                                id_product: product.id
                            }) }}">Add to box</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('box_index') }}">back to list</a>


    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('#products_list').DataTable();
        });
    </script>
{% endblock %}


