<!DOCTYPE html>
<!--
  ____        _       _    _
 / ___| _   _| |_ ___| | _(_)_ __   __ _
 \___ \| | | | __/ _ \ |/ / | '_ \ / _` |
  ___) | |_| | ||  __/   <| | | | | (_| |
 |____/ \__,_|\__\___|_|\_\_|_| |_|\__,_|

-->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}
                {% block page_title '' %} |
                {% block site_title 'SuketinaBox 素敵な!' %}
            {% endblock %}</title>
        {% block stylesheets '' %}
    </head>
    <body>
        {% block body ''%}
        {% block javascripts ''%}
        {% block final_javascripts '' %}

    </body>
</html>
