<nav id="nav" class="navbar sticky-top navbar-expand-lg navbar-light" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}"> <img src="{{ asset('images/favicon.ico') }}" alt="star"> <img
                    src="{{ asset('images/sutekina_logo.png') }}" alt="logo" style="width: 200px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {% if active is defined and active == 'index' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('index') }}"><i class="fas fa-home"></i> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if active is defined and active == 'product' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('product_index') }}"><i class="fas fa-store"></i> Product</a>
                </li>
                <li class="nav-item {% if active is defined and active == 'box' %} active {% endif %}">
                    <a class="nav-link" href="{{ path('box_index') }}"><i class="fas fa-gift"></i> Box</a>
                </li></ul>
            <ul class="navbar-nav">
                <span class="navbar-text">
                Hello {{ is_granted('IS_AUTHENTICATED_FULLY')? app.user.firstname : 'cutie pie' }} !
                </span>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fas fa-bell"></i> Notification</a>
                    </li>
                    <li class="nav-item {% if active is defined and active == 'message' %} active {% endif %}">
                        <a class="nav-link" href="#"><i class="fas fa-envelope"></i> Message</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('security_logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    </li>

                {% else %}
                    <li class="nav-item {% if active is defined and active == 'register' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('user_register') }}"><i class="fas fa-user-plus"></i> Register</a>
                    </li>
                    <li class="nav-item {% if active is defined and active == 'login' %} active {% endif %}">
                        <a class="nav-link" href="{{ path('security_login') }}"><i class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

