<!-- Sidebar -->
<div id="sidebar-wrapper">
    <h3>Hello
        {{ is_granted('IS_AUTHENTICATED_FULLY')? app.user.firstname :'cutie pie' }} !</h3>

    {% if is_granted('ROLE_ADMIN') %}
        <p>Admin</p>
    {% elseif is_granted('ROLE_MANAGER') %}
        <p>Purchase Manager</p>
    {% elseif is_granted('ROLE_STAFF') %}
        <p>Staff Member</p>
    {% endif %}
    <ul class="sidebar-nav">
        {#<li class="sidebar-brand">#}
            {#<a href="#">#}
                {#Start Bootstrap#}
            {#</a>#}
        {#</li>#}
        {#<li>#}
            {#<a href="#">Dashboard</a>#}
        {#</li>#}

    </ul>
</div>
<!-- /#sidebar-wrapper -->



