{% extends "layout.html.twig" %}
{% set active = 'register' %}
{% block page_title %}
    Register
{% endblock %}

{% block content %}
    <div class="col-md-4 offset-md-3">
        <h1 class="text-center">Register</h1>
        {{ form(form) }}
    </div>

{% endblock %}
